header.main-header
  .main-container
    .kiwi-grid
      .kiwi-col.l-1-6
        a.logo.kiwi-hidden-s
          img(src="http://dummyimage.com/150x50/00afe0/fff.png&text=Logo")
      .kiwi-col.l-2-3.s-1
        nav
          ul.main-menu
            li.active
              a(href="#") Menu 1
            li
              a(href="#") Menu 2
            li
              a(href="#") Menu 3
            li
              a(href="#") Menu 4
      .kiwi-col.l-1-6
        ul.register-menu.kiwi-hidden-s
          li
            a(href="") Sign in
          li
            a(href="") Register