body
  font 14px/1.4 verdana,arial,sans-serif
  color color-default

a
  color color-primary
  text-decoration underline

  &:hover
    text-decoration none

for row in 1 2 3 4 5 6
  h{row}
    padding-bottom 0
    padding-top 1em
    text-shadow 0px 1px 0px #ccc

h1
  font-size 2em
  font-weight bold
  text-transform uppercase


  small
    font-size 0.5em
    font-style italic
    font-weight normal
    text-transform: none
    display block

h2
  font-size 1.5em

h3
  font-size 1.2em

em,strong
  color color-secondary

img
  max-width 100%
