// colors
color-default       = #434343
color-primary       = #00afe0
color-secondary     = #ff8d14
color-light         = #ccc
color-white         =  #f0f0f0
color-dark          = #333

// background
bg-default = color-white

// layout
margin-default  = 1em
padding-default = .5em 1.2em

//border
border-default     = 1px solid color-default
border-primary     = 1px solid color-primary
border-secondary   = 1px solid color-secondary
border-light       = 1px solid color-light
border-white       = 1px solid color-white
border-dark        = 1px solid color-dark
border-transparent = 1px solid transparent