extends layout/base

append content
  #index.wrapper
    section.section
      .main-container
        h1 title
          small sous-titre
        .skills.kiwi-grid
          .kiwi-col.l-1
            h2 title 1
          .kiwi-col.l-1
            .block.border
              ul.kiwi-grid
                li.kiwi-col.l-1-2.s-1
                  div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li.kiwi-col.l-1-2.s-1
                  div Lorem ipsum dolor sit amet,
                    a(href="#") consectetur
                    |  adipiscing elit.
                li.kiwi-col.l-1-2.s-1
                  div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li.kiwi-col.l-1-2.s-1
                   div Lorem ipsum dolor sit amet,
                    em  consectetur
                    |  adipiscing elit.
                li.kiwi-col.l-1-2.s-1
                  div Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li.kiwi-col.l-1-2.s-1
                   div Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        .headline
          h1 Header H1
          h2 Header H2
          h3 Header H3
          p
            strong Lorem ipsum dolor sit amet
            |, consectetur adipiscing elit. Proin porta imperdiet iaculis. Aenean dapibus, diam et posuere auctor, urna purus gravida odio, nec egestas dui orci eu eros. Proin aliquet tincidunt viverra. Nulla ac tincidunt orci. Nullam ultrices feugiat mauris vitae ultrices. Vivamus a scelerisque purus. Proin metus lectus, rhoncus ac tempus non, fringilla ac mauris. Curabitur id semper sem. Pellentesque et rutrum lectus, cursus imperdiet tortor. Nunc sed libero et velit pellentesque bibendum. Aliquam id ante felis. Quisque eget sem sit amet felis cursus hendrerit ac nec felis. Nullam cursus nisl vel neque blandit viverra. Nam a ultrices felis.


        .timeline.kiwi-grid
          .kiwi-col.l-1
            h2 title 2
          .kiwi-col.l-1-3.s-1
            .block
              strong Lorem ipsum dolor sit amet
              |, consectetur adipiscing elit. Proin porta imperdiet iaculis. Aenean dapibus, diam et posuere auctor, urna purus gravida odio, nec egestas dui orci eu eros. Proin aliquet tincidunt viverra. Nulla ac tincidunt orci. Nullam ultrices feugiat mauris vitae ultrices. Vivamus a scelerisque purus. Proin metus lectus, rhoncus ac tempus non, fringilla ac mauris. Curabitur id semper sem. Pellentesque et rutrum lectus, cursus imperdiet tortor. Nunc sed libero et velit pellentesque bibendum. Aliquam id ante felis. Quisque eget sem sit amet felis cursus hendrerit ac nec felis. Nullam cursus nisl vel neque blandit viverra. Nam a ultrices felis.
          .kiwi-col.l-1-3.s-1
            .block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta imperdiet iaculis. Aenean dapibus, diam et posuere auctor, urna purus gravida odio, nec egestas dui orci eu eros. Proin aliquet tincidunt viverra. Nulla ac tincidunt orci. Nullam ultrices feugiat mauris vitae ultrices. Vivamus a scelerisque purus. Proin metus lectus, rhoncus ac tempus non,
              strong  fringilla ac mauris. Curabitur id semper sem
              |. Pellentesque et rutrum lectus, cursus imperdiet tortor. Nunc sed libero et velit pellentesque bibendum. Aliquam id ante felis. Quisque eget sem sit amet felis cursus hendrerit ac nec felis. Nullam cursus nisl vel neque blandit viverra. Nam a ultrices felis.
          .kiwi-col.l-1-3.s-1
            .block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta imperdiet iaculis. Aenean dapibus, diam et posuere auctor, urna purus gravida odio, nec egestas dui orci eu eros. Proin aliquet tincidunt viverra. Nulla ac tincidunt orci. Nullam ultrices feugiat mauris vitae ultrices. Vivamus a scelerisque purus. Proin metus lectus, rhoncus ac tempus non, fringilla ac mauris. Curabitur id semper sem. Pellentesque et rutrum lectus, cursus imperdiet tortor. Nunc sed libero et velit pellentesque bibendum. Aliquam id ante felis. Quisque eget sem sit amet felis cursus hendrerit ac nec felis. Nullam cursus nisl vel neque blandit viverra. Nam a ultrices felis.

    section.kiwi-grid.section
      .main-container
        .kiwi-col.l-1-2.s-1
          .block
            section.img
              img(src="http://dummyimage.com/640x300/bbb/555.png")
              footer
                legend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum, leo nec pellentesque tincidunt, ipsum sem rhoncus quam, quis feugiat justo felis eu dui. Nam condimentum diam sed pulvinar tempor.
        .kiwi-col.l-1-2.s-1
          .block
            section.img
              img(src="http://dummyimage.com/640x300/bbb/555.png")
              footer
                legend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum, leo nec pellentesque tincidunt, ipsum sem rhoncus quam, quis feugiat justo felis eu dui. Nam condimentum diam sed pulvinar tempor.
    section.section
      .main-container

        h2 title 4

        .block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta
          em  imperdiet iaculis
          |. Aenean dapibus, diam et posuere auctor, urna purus gravida odio, nec egestas
          strong  dui orci eu eros
          |. Proin aliquet tincidunt viverra. Nulla ac tincidunt orci. Nullam ultrices feugiat mauris vitae ultrices. Vivamus a scelerisque purus. Proin metus lectus, rhoncus ac tempus non, fringilla ac mauris. Curabitur id semper sem. Pellentesque et rutrum lectus, cursus imperdiet tortor. Nunc sed libero et velit pellentesque bibendum. Aliquam id ante felis. Quisque eget sem sit amet felis cursus hendrerit ac nec felis. Nullam cursus nisl vel neque blandit viverra. Nam a ultrices felis.

        .block
          .img
            img(src="http://dummyimage.com/640x300/bbb/555.png")
            legend Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum, leo nec pellentesque tincidunt, ipsum sem rhoncus quam, quis feugiat justo felis eu dui. Nam condimentum diam sed pulvinar tempor.

    section.section.section-secondary
      .main-container
        .timeline.kiwi-grid
          .kiwi-col.l-1
            h2 title 2
          .kiwi-col.l-1-3.s-1
            .block
              strong Lorem ipsum dolor sit amet
              |, consectetur adipiscing elit. Proin porta imperdiet iaculis. Aenean dapibus, diam et posuere auctor, urna purus gravida odio, nec egestas dui orci eu eros. Proin aliquet tincidunt viverra. Nulla ac tincidunt orci. Nullam ultrices feugiat mauris vitae ultrices. Vivamus a scelerisque purus. Proin metus lectus, rhoncus ac tempus non, fringilla ac mauris. Curabitur id semper sem. Pellentesque et rutrum lectus, cursus imperdiet tortor. Nunc sed libero et velit pellentesque bibendum. Aliquam id ante felis. Quisque eget sem sit amet felis cursus hendrerit ac nec felis. Nullam cursus nisl vel neque blandit viverra. Nam a ultrices felis.
          .kiwi-col.l-1-3.s-1
            .block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta imperdiet iaculis. Aenean dapibus, diam et posuere auctor, urna purus gravida odio, nec egestas dui orci eu eros. Proin aliquet tincidunt viverra. Nulla ac tincidunt orci. Nullam ultrices feugiat mauris vitae ultrices. Vivamus a scelerisque purus. Proin metus lectus, rhoncus ac tempus non,
              strong  fringilla ac mauris. Curabitur id semper sem
              |. Pellentesque et rutrum lectus, cursus imperdiet tortor. Nunc sed libero et velit pellentesque bibendum. Aliquam id ante felis. Quisque eget sem sit amet felis cursus hendrerit ac nec felis. Nullam cursus nisl vel neque blandit viverra. Nam a ultrices felis.
          .kiwi-col.l-1-3.s-1
            .block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta imperdiet iaculis. Aenean dapibus, diam et posuere auctor, urna purus gravida odio, nec egestas dui orci eu eros. Proin aliquet tincidunt viverra. Nulla ac tincidunt orci. Nullam ultrices feugiat mauris vitae ultrices. Vivamus a scelerisque purus. Proin metus lectus, rhoncus ac tempus non, fringilla ac mauris. Curabitur id semper sem. Pellentesque et rutrum lectus, cursus imperdiet tortor. Nunc sed libero et velit pellentesque bibendum. Aliquam id ante felis. Quisque eget sem sit amet felis cursus hendrerit ac nec felis. Nullam cursus nisl vel neque blandit viverra. Nam a ultrices felis.
