doctype html
html(dir='ltr',lang='fr')
  head
    include ../inc/meta
    title meta title
    block css
      include ../inc/stylesheet

  body
    block header
      include ../inc/header

    block content

    block footer
      include ../inc/footer
    block scripts
      include ../inc/scripts